<div class="container">
    <mat-table [dataSource]="jobs" class="mat-elevation-z8">
      

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Job Name </mat-header-cell>
        <mat-cell *matCellDef="let job">
          <span style="color: black;">🧪 {{ job.name }}</span>
        </mat-cell>
      </ng-container>
      
  
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
        <mat-cell *matCellDef="let job"> #{{ job.id }} </mat-cell>
      </ng-container>
  
      <!-- Status Column -->
      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
        <mat-cell *matCellDef="let job">
          <mat-chip [ngClass]="getStatusClass(job.returnvalue.status)">
            {{ job.returnvalue.status }} - {{ job.returnvalue.message }}
          </mat-chip>
        </mat-cell>
      </ng-container>
  
      <!-- Timestamp Column -->
      <ng-container matColumnDef="timestamp">
        <mat-header-cell *matHeaderCellDef> Timestamp </mat-header-cell>
        <mat-cell *matCellDef="let job">
          {{ formatTimestamp(job.timestamp) }}
        </mat-cell>
      </ng-container>
  
      <!-- Attempts Column -->
      <ng-container matColumnDef="attempts">
        <mat-header-cell *matHeaderCellDef> Attempts </mat-header-cell>
        <mat-cell *matCellDef="let job">
          {{ job.attemptsMade }}
        </mat-cell>
      </ng-container>
  
      <!-- Expanded Row Column -->
      <ng-container matColumnDef="expandedDetail">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let job" [attr.colspan]="displayedColumns.length">
          <div class="detail-content" *ngIf="expandedElement === job">
            <mat-tab-group>
              <mat-tab label="Activity Details">
                <pre>{{ job.data?.activityDetails | json }}</pre>
              </mat-tab>
              <mat-tab label="Options">
                <pre>{{ job.opts | json }}</pre>
              </mat-tab>
              <mat-tab label="Additional Info">
                <div class="additional-info">
                  <p>Attempts Made: {{ job.attemptsMade }}</p>
                  <p>Processed On: {{ formatTimestamp(job.processedOn) }}</p>
                  <p>Finished On: {{ formatTimestamp(job.finishedOn) }}</p>
                </div>
              </mat-tab>
            </mat-tab-group>
          </div>
        </mat-cell>
      </ng-container>
  
      <!-- Header and Row Definitions -->
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row 
        *matRowDef="let row; columns: displayedColumns;"
        class="main-row"
        (click)="expandedElement = expandedElement === row ? null : row">
      </mat-row>
      <ng-container *matRowDef="let row; columns: otherColumns; when: isOtherRow">
        <ng-template let-row>
          <!-- Add your custom row content here -->
        </ng-template>
      </ng-container>
    </mat-table>
  </div>
  